 .u-section-1 {
  background-image: url("images/Untitleddesign2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 652px;
}

.u-section-1 .u-image-1 {
  width: 532px;
  height: 532px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Ubuntu, sans-serif;
  font-size: 2.25rem;
  margin: -35px 570px 60px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 52.82% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-1 .u-image-1 {
    width: 570px;
    height: 570px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -94px;
    margin-right: 39px;
    margin-left: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-image-1 {
    width: 389px;
    height: 389px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -36px;
    margin-right: 28px;
    margin-left: 163px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-1 .u-image-1 {
    width: 379px;
    height: 379px;
    margin-right: -14px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
    margin-left: 25px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 36.04% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-1 .u-image-1 {
    width: 204px;
    height: 204px;
    margin-top: 49px;
    margin-right: -11px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 9px;
    margin-bottom: 8px;
    margin-left: 13px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 314px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -56px;
  margin-bottom: 31px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 356px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-image-1 {
  height: 251px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.875rem;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 356px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-image-2 {
  height: 251px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 356px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-image-3 {
  height: 251px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-2 .u-image-1 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-2 .u-image-2 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 294px;
  }

  .u-section-2 .u-image-3 {
    height: 202px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 148px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 148px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    height: 148px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 283px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-image-1 {
    height: 170px;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 41px;
    margin-right: 27px;
    margin-left: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 283px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 7px 8px;
  }

  .u-section-2 .u-image-2 {
    height: 161px;
    width: 163px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    text-transform: none;
    letter-spacing: normal;
    width: auto;
    margin-top: 33px;
    margin-right: 46px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 283px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-2 .u-image-3 {
    height: 174px;
    width: 174px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    text-transform: none;
    width: auto;
    margin-top: 27px;
    margin-right: 83px;
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-2 .u-image-1 {
    height: 113px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -11px;
    margin-right: -8px;
    margin-left: 9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-image-2 {
    height: 113px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-2 .u-image-3 {
    height: 113px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    letter-spacing: normal;
    font-size: 1.25rem;
    margin-top: 0;
    margin-right: 38px;
    margin-left: 9px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 343px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 72px 40px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  letter-spacing: 0px;
  margin: 20px 40px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 21px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 21px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 585px;
}

.u-section-4 .u-image-1 {
  width: 352px;
  height: 354px;
  margin: 32px auto 0 64px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: -278px 170px 0 594px;
}

.u-section-4 .u-image-2 {
  width: 301px;
  height: 323px;
  margin: 64px 115px 0 auto;
}

.u-section-4 .u-layout-wrap-1 {
  width: 532px;
  margin: -13px 0 0 auto;
}

.u-section-4 .u-image-3 {
  background-image: url("images/Untitleddesign3.png");
  background-position: 50% 50%;
  min-height: 168px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  background-image: url("images/Untitleddesign2.png");
  background-position: 50% 50%;
  min-height: 168px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  background-image: url("images/fds.png");
  background-position: 50% 50%;
  min-height: 168px;
}

.u-section-4 .u-container-layout-3 {
  padding: 24px 16px 30px 12px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -218px auto 60px 88px;
  padding: 15px 49px 17px 48px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    width: 272px;
    height: 274px;
    margin-top: 60px;
    margin-left: 93px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -243px;
    margin-right: 70px;
    margin-left: 494px;
  }

  .u-section-4 .u-image-2 {
    height: 322px;
    margin-top: 49px;
    margin-right: 100px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -11px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -308px;
    margin-bottom: 260px;
    margin-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 40px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 4.5rem;
    margin-top: -246px;
    margin-right: 72px;
    margin-left: 332px;
  }

  .u-section-4 .u-image-2 {
    width: 231px;
    height: 247px;
    margin-top: 123px;
    margin-right: 60px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 409px;
    margin-top: 0;
    margin-right: 60px;
  }

  .u-section-4 .u-image-3 {
    min-height: 130px;
  }

  .u-section-4 .u-image-4 {
    min-height: 130px;
  }

  .u-section-4 .u-image-5 {
    min-height: 130px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 2.25rem;
    margin-top: -272px;
    margin-bottom: 60px;
    margin-left: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-4 .u-image-1 {
    width: 195px;
    height: 194px;
    margin-left: 37px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 298px;
  }

  .u-section-4 .u-image-2 {
    width: 222px;
    height: 222px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 358px;
  }

  .u-section-4 .u-image-3 {
    min-height: 126px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 126px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    min-height: 126px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.875rem;
    margin-left: 34px;
    padding-right: 21px;
    padding-bottom: 16px;
    padding-left: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-4 .u-image-1 {
    width: 149px;
    height: 148px;
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -112px;
    margin-left: 188px;
  }

  .u-section-4 .u-image-2 {
    width: 133px;
    height: 132px;
    margin-top: 83px;
    margin-right: 21px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 206px;
    margin-top: -3px;
    margin-right: 21px;
  }

  .u-section-4 .u-image-3 {
    min-height: 71px;
  }

  .u-section-4 .u-image-4 {
    min-height: 71px;
  }

  .u-section-4 .u-image-5 {
    min-height: 71px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: -157px;
    margin-bottom: 131px;
    margin-left: 21px;
    padding: 2px 10px 3px 8px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 373px;
}

.u-section-5 .u-text-1 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  margin: 64px 400px 0 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.6;
  letter-spacing: normal;
  font-size: 1.25rem;
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 505px;
}

.u-section-6 .u-image-1 {
  width: 229px;
  height: 234px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-image-2 {
  width: 277px;
  height: 277px;
  margin: -234px auto 0 0;
}

.u-section-6 .u-image-3 {
  width: 256px;
  height: 256px;
  margin: -51px 400px 23px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-6 .u-image-1 {
    width: 273px;
    height: 279px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -279px;
    margin-left: -16px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -27px;
    margin-right: 309px;
    margin-bottom: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-6 .u-image-1 {
    width: 207px;
    height: 224px;
  }

  .u-section-6 .u-image-2 {
    width: 224px;
    height: 224px;
    margin-top: -224px;
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    width: 205px;
    height: 205px;
    margin-top: 0;
    margin-right: 232px;
    margin-bottom: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-6 .u-image-1 {
    width: 182px;
    height: 182px;
    margin-right: -11px;
  }

  .u-section-6 .u-image-2 {
    width: 212px;
    height: 212px;
    margin-top: -182px;
    margin-left: -21px;
  }

  .u-section-6 .u-image-3 {
    width: 189px;
    height: 189px;
    margin-right: 117px;
    margin-bottom: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-6 .u-image-1 {
    width: 121px;
    height: 123px;
    margin-top: 1px;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    width: 121px;
    height: 121px;
    margin-top: -12px;
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    width: 118px;
    height: 118px;
    margin-top: -24px;
    margin-right: 0;
    margin-bottom: 16px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 470px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 27px;
  margin-bottom: 27px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 416px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin-top: 0;
  font-size: 3rem;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-7 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 30px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 416px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 15px;
}

.u-section-7 .u-form-1 {
  height: 317px;
  margin: 0 104px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 343px;
  }

  .u-section-7 .u-form-1 {
    margin-right: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 29px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-bottom: 19px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 0;
  }

  .u-section-7 .u-icon-1 {
    height: 36px;
    width: 36px;
    margin-top: 14px;
    padding: 0;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-7 .u-form-1 {
    width: 320px;
  }
}